* { box-sizing: border-box; }

body {
  padding: 0;
  margin: 0 auto;
  width: 800px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover { text-decoration: underline; }

.page-header {
  width:  800px;
  height: 400px;
  background-image: url(../img/p-hbg.png);
  background-repeat: no-repeat;
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }

  .div010{
    width:   694px;
    margin:  0 auto;
    padding: 45px 0 0;
  }
  .div010 h1{
    margin: 0;
    padding: 35px 0 0 0;
  }
  .div020{
    width:710px;
    margin: 0 auto;
  }
  .div020 h2{
    display: inline-block;
    margin: 0 20px 0 0;
  }
  .div020 h2:hover{ opacity: 0.6;}

  .div020 h2:last-child {margin-right: 0;}

.project-tagline {  }

.about-picnic {
  width:  800px;
  background-image: url(../img/tile.png);
  padding-bottom: 40px;
}

.main-content img {
  margin: 0 auto 10px;
}

.main-content .about-p-01{
  display: inline-block;
  float: left;
  width:  365px;
  height: 700px;
  border:  7px solid #faf000;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 20px;
  padding: 15px 0 0 0;
  text-align: center;
}
.main-content .margin01{
  margin:20px 25px 0 20px;
}

.site-footer {
  width:  800px;
  height: 100px;
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  }


    .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    .clearfix { display: inline-table; }

    /* Hides from IE-mac \*/
    * html .clearfix { height: 1%; }
    .clearfix { display: block; }
    /* End hide from IE-mac */
